@tailwind base;
@tailwind components;
@tailwind utilities;  

p{
    color: hsl(229, 8%, 60%);
    @apply text-xl
}

.btn{
    @apply p-3 rounded-lg font-bold shadow-lg hover:-translate-y-1 transition duration-200
}


.btn-blue{
    background-color: hsl(231, 69%, 60%);
    color: white;
    /* background-image: url(); */
}

.btn-white{
    background-color: hsl(210, 4%, 90%);
    color: hsl(229, 31%, 21%);
}

.btn-red{
    background-color: hsl(0, 94%, 66%);
    color: white;
}

hr{
    @apply w-[90%] mx-auto
}

.active{
    @apply bg-red-500 h-1 w-36 text-center
}

h1, h2, h3, h4{
    color:  hsl(229, 31%, 21%);
}

section{
    @apply mb-10
}

.card{
    @apply grid justify-items-center mx-auto gap-x-5 shadow-xl mb-14 max-w-[80%] min-w-[18rem] md:px-8
}

.accordion-item{
    @apply border-b border-gray-100 text-start
}

.accordion-header{
    @apply  p-4 cursor-pointer hover:bg-gray-200 text-xl flex justify-between items-center ;
}

.accordion-content {
    @apply max-h-0 overflow-hidden;
    transition: max-height 0.5s ease;
}
.accordion-content.show {
    @apply m-4 max-h-[20rem]
}

.caret-down{
    @apply transform rotate-0 transition-all duration-200;
}   
.caret-up{
    @apply transform rotate-180 transition-all duration-200
}                           